{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}

<style>
    .idCard {
        width: 100%;
        overflow-x: scroll;
    }

    .church {
        background-color: black;
        color: white;
        padding: 1rem;
    }

    table {
        width: max-content;
    }

    th {
        padding: 1rem 0.5rem;
    }

    td {
        padding: 0.5rem;
    }
    input{
        width: max-content !important;
    }
    .filter > div{
        flex-wrap: wrap;
        gap: 1rem;
    }
    div.filter > div > div{
        margin-bottom: 0 !important;
    }
    @media print {
       
        .idCard {
        width: 100%;
        overflow-x: scroll;
        }
        nav{
            display: none;
        }

        .church {
            background-color: black;
            color: white;
            padding: 1rem;
        }

        table {
            width: max-content;
        }

        th {
            padding: 1rem 0.5rem;
        }

        td {
            padding: 0.5rem;
        }
        input{
            width: max-content !important;
        }
        .filter > div{
            flex-wrap: wrap;
            gap: 1rem;
        }
        div.filter > div > div{
            margin-bottom: 0 !important;
        }
    }
</style>
<div class="container mt-3">
    <div class="idCard">
        <div>
            <style>
                .pastor .card{
                    background: white !important;
                    color: #000 !important;
                }
                .pastor .card > div{
                    color: #000;
                    border: 1px black solid !important;
                }
                .cardlist, .cardlist > div{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 2rem;
                }
                .card{
                    background: #000;
                    padding: 0.5rem;
                    max-width: 300px;
                    width: 100%;
                }
                .card > div > div {
                    padding: 1rem;
                }
                .card > div{
                    display: block;
                    margin: 0.5rem;
                    border: 1px white solid !important;
                    border-radius: 20px;
                    color: white;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                } 
                .card > div > div:first-child > img {
                    margin: auto;
                    width: 40px;
                    
                }
                .card >div > div:nth-child(2) {
                    margin: auto;
                    min-width: 100%;
                    min-height: 150px;
                }
                .card > div > div:nth-child(3) {
                    background: #6c4007;
                    min-height: 75px;
                    color: white;
                }
                .attendee .card > div > div:nth-child(3) {
                    background: #000;
                    min-height: 75px;
                    color: white;
                }
                .attendee .card{
                    background: #6c4007 !important;
                    color: #000 !important;
                }  
                          
            </style>
            <a href="#" onclick="window.print()" class="btn btn-warning text-center text-white m-3 mx-auto">Print cards</a>
            <div class="cardlist">
                {% for attendee in Attendee %}
                <div class="{% if attendee.Are_you_a_pastor %}pastor {% elif attendee.volunteers.Volunteer == False %}attendee{% endif %}">
                    <div class="card front">
                        <div>
                            <div>
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <h6 style="margin-bottom: 0;">Again and Afresh</h6>
                                <p><i>The Gathering Of Belivers</i></p>
                            </div>
                            <div>
                                <img src="{% static 'img/r2r 2.png' %}" alt="">
                            </div>
                            <div>
                                <h4>{{ attendee.Full_Name | title }}</h4>
                            </div>
                            <div>
                                <h6><i>{% if attendee.volunteers.Volunteer %}
                                    VOLUNTEER
                                    {% elif attendee.Are_you_a_pastor %}
                                    PASTOR
                                    {% else %}
                                    PARTICIPANT
                                {% endif %}</i></h6>
                        </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div>
                            <div>
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <h6  style="margin-bottom: 0;">Again and Afresh</h6>
                                <p><i>The Gathering Of Belivers</i></p>
                            </div>
                            <div>
                                    <img style="width: 150px;" src="{{attendee.qr_code}}" alt="">
                            </div>
                            <div><h4>{{attendee.id}}</h4></div>
                            <div><h6>againandafresh.org</h6></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
    </div>
</div>

<script>
    function addClassesToFormFields() {
        var form = document.getElementById("myForm");
        var fields = document.querySelectorAll("input, select, textarea");  // Select all input, select, and textarea elements within the form

        for (var i = 0; i < fields.length; i++) {
            fields[i].classList.add("form-control");
            fields[i].classList.add("form-control-lg");
        }
    }
    addClassesToFormFields()
   
    document.getElementById("navRegister").classList.add("active")
</script>
{% endblock main %}