{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    .registerbtn{
        display: none;
    }
</style>
<div class="container rounded-5">
    <div class="register" >
        <div class="d-flex" style="flex-wrap: wrap; background-color: rgba(0, 0, 0, 0.784);place-content: space-between;height:100%">
            <div class="text-center" style="align-self: center;flex:1;">
                <div class="form-header">
                    <div><img src="{% static 'img/r2r 2.png' %}" alt=""></div>
                    <p> Have your mind renewed and heart filled with the knowledge of the will of God, and find grace to obey.</p>
                </div>
            </div>
            <form id="myForm">
                <div style="">
                <center><h4 class="text-center p-3">Give Online</h2></center>
                <hr>
                <center>
                    <p>Show your support by giving towards the cause of Reconnect to Rest as the Lord lays the burden in your heart</p>
                </center>
                {% csrf_token %}
                <div class="field" id="fieldContainer">
                    <center>Account Details </center>
                     <table>
                                
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>Theophilus Emakpor</td>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <td>2007098822 <i class="fa fa-copy"></i></td>
                            </tr>
                            <tr>
                                <th>Bank</th>
                                <td>Kuda Bank</td>
                            </tr>
                        </tbody>
                     </table>
                </div>
                <br>
                    <hr>
                    <center>
                     <a class="btn" style="color: white;background-color: goldenrod;width: 300px;" href="https://flutterwave.com/donate/r2r?_gl=1*1z05t5r*_ga*MTc3MDk3MDMyMC4xNjk4NTE4NjAz*_ga_KQ9NSEMFCF*MTY5ODU5MDQ1My4xLjEuMTY5ODU5MDU4NC41OS4wLjA">Give With Card  <i class="fa fa-credit-card"></i></a>
                    </center>
                </div>
            </form>
        </div>
</div>
</div>


<div id="fieldsItem" style="visibility: hidden;display: none;">
</div>
    <script>
    function addClassesToFormFields() {
        var form = document.getElementById("myForm");
        var fields = form.querySelectorAll("input, select, textarea");  // Select all input, select, and textarea elements within the form

        for (var i = 0; i < fields.length; i++) {
            fields[i].classList.add("form-control");
            fields[i].classList.add("form-control-lg");
        }
    }
    addClassesToFormFields()
   
    document.getElementById("navRegister").classList.add("active")
</script>
{% endblock main %}