{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block main %}
<header>
  <div>
    <div class="Header container">
      <div class="Header-Text">
        <div>
          <h3>R2R 2023</h3>
          <h1>RECONNECT TO REST</h1>
        </div>
        <div>
          <p>
            R2R is a non-denominational 3-day conference hosted annually by
            Again and Afresh Church, Makurdi. It is a time dedicated to the
            worship of Christ by faithfully teaching His doctrine and having
            fellowship with His Spirit.
          </p>
          <div class="registerbtn">
            <a class="btn" style="background: #9f6110;padding:0.5rem 2rem;color:white" href="{% url 'register' %}">Register</a>
          </div>
        </div>
      </div>
      <div class="Header-Image">
        <img src="{% static 'img/12590623_86.png' %}"  alt="">
      </div>
    </div>
  </div>
</header>
<section class="d-md-flex container section1" style="margin: auto;">
    <div style="box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.075); border-radius: 15px;align-self: center;">
        <img src="{% static 'img/r2r 2.png' %}" style="width:100%;" alt="">
    </div>
    <div class="" style="align-self: center; padding: 2rem 0 ;">
        <p>
            <h2 style="margin-bottom: 20px;"><span class="active" style="padding-bottom: 5px;font-weight: bold;">R2R</span> is a 3-Day Conference</h2>
            Saints from all walks of life come together at R2R for soul-nourishing sessions of worship, prayers, and fellowship fueled by sincere love. Opportunity will be given for you to ask and receive answers to questions on matters of doctrine. Ministers will also be present who will, with gladness, communicate God's counsel on issues peculiar to the needs of your soul.
        </p>
        <div>
            <a href="{% url 'register' %}" class="btn" style="background:#9f6110;color: white;">Register Now</a>
            <a href="#contact" class="btn">Locate Us</a>
        </div>
    </div>
</section>
<section class="CountContainer container" style="margin: auto;padding:2rem;">
  <div class="CountDown container" style="padding:2rem 0;">
    <div>
      <h5>R2R is</h5>
      <h1 id="timing">Coming Soon</h1>
      <p></p>
    </div id="time">
    <div><div class="d-flex" id="countdown">
   
    </div></div>
  </div>
</section>
<section class="container p-3">
  <div>
    <iframe style="width: 100%;height: 400px;" src="https://www.youtube.com/embed/NTLv2tFEVRw?si=fJNZKtOC3IFmzi33&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
<section class="container" style="margin: auto;padding:2rem;">
  <div class="headSteward d-md-flex" style="gap:1rem">
    <div>
      <img src="{% static 'img/bg/2.jpg' %}" alt="Pastor church ogbu head steward Again and Afresh" class="img-fluid">
    </div>
    <div style="align-self: center;" class="message">
      <h2>CONVENER'S MESSAGE</h2>
      <p> I extend a warm and heartfelt invitation to you. Join us for a soul-enriching experience, where we'll spend precious time hearing God's word, seeking His wisdom, and experiencing His boundless grace. Your presence will make this gathering even more special, as we come together in faith and fellowship to draw closer to the divine. Don't miss this opportunity to immerse yourself in the transformative power of His message. See you at R2R 2023!</p>
      <div class="mt-2 fst-italic"><h6>~ Pastor Church Ogbu</h6>
      </div>
    </div>
  </div>
</section>
<a name="about" id="about"></a>

<section class=" days container" style="margin: auto;padding:2rem;">
 <div class="container text-white">
  <center style="margin:1rem;">
    <h1>An Enriching Experience of God</h1>
    <p>R2R 2023 offers all resources needed for you to have a memorable and well-rounded experience of God.</p>
  </center>
  <br>
  <div class=" d-md-flex dayslist" style="text-align: -webkit-center;">
    <div class="day-1">
      <h2>Day 1</h2>
      <hr>
      <p>Open your heart to the refreshing truth that the rest of God is available to as many as sincerely desire it.</p>
    </div>
    <div class="day-2">
      <h2>Day 2</h2>
      <hr>
      <p>Have your mind renewed and heart filled with the knowledge of the will of God, and find grace to obey.
      </p>
    </div>
    <div class="day-3">
      <h2>Day 3</h2>
      <hr>
      <p>Incline your ears to hear, and receive for your soul the deliverance that is preached and salvation that is spoken.</p>
    </div>
  </div>
 </div>
</section>
<a name="contact" id="contact"></a>
<section class="  location container" style="margin: auto;padding:2rem;">
  <div class="container d-md-flex" style="gap:1rem">
    <div style="flex: 1;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d988.4526352198816!2d8.535484546651!3d7.703470158867319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105081b6437e616b%3A0xef8945cdab55426c!2sAgain%20and%20Afresh!5e0!3m2!1sen!2sng!4v1699441664593!5m2!1sen!2sng" style="border:0;height:100%;width:100%;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="text">
      <h1>Join Us at R2R 2023</h1>
      <p>So, I invite you to join us at R2R 2023 and experience a memorable and well-rounded encounter with God. This event is an opportunity to open your heart to the refreshing truth and embrace a journey of fulfillment and transformation.</p>
      <div>
        <a href="{% url 'register' %}" class="btn" style="background:#9f6110;color: #fff;">Register Now</a>
    </div>
    </div>
  </div>
</section>
<section class="CountContainer container" style="margin: auto;padding:2rem;">
  <div class="CountDown bg-dark container" style="padding:2rem 0;">
    <div style="margin: auto;text-align:center;">
      <h2 style="font-weight: 900;">Support R2R</h2>
      <br>
      <p>Show your support by giving towards the cause of Reconnect to Rest as the Lord lays the burden in your heart</p>
      <br>
        <a class="btn" style="color: white;background-color: #9f6110;" href="{% url 'donate' %}"> GIVE ONLINE <i class="fa fa-donate"></i></a>
      </div>
    </div>
  </div>
</section>
<section style="margin: auto;padding:2rem;">
  <div class="container d-flex justify-content-between prayer">
    <div class="container" style="padding: 0;">
      <div>
        <form action="{% url 'prayerRequest' %}" method="post" class="form-control bg-dark">
      <h3 style="font-weight: 900; color:white;padding: 1rem;">Do You Have a Prayer Request?</h3>
          {% csrf_token %}
      <div class="m-2">
            <input type="text" class="form-control" name="Full_Name" placeholder="Enter Full Name">
          </div>
          <div class="m-2">
            <textarea class="form-control" name="Request" placeholder="Enter Your Request"></textarea>
          </div>
          <div class="m-2">
            <input type="submit" style="background: #9f6110;padding:0.5rem 2rem;color:white"  value="Send Request" class="btn">
          </div>
        </form>
      </div>
    </div>
    <div class=" contacticons" style="align-self: center;">
      <div class="d-flex w-100 justify-content-start" style="align-items: center;">
        <div class="align-self-center"><i class="fa fa-envelope"></i></div>
        <div>
          <div><a href="mailto:againandafresh@gmail.com">againandafresh@gmail.com</a></div>
          <div><a href="mailto:info@againandafresh.org">info@againandafresh.org</a></div>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-start" style="align-items: center;">
        <div class="align-self-center"><i class="fa fa-phone"></i></div>
        <div>
          <div><a href="tel:+2348065170300">+234(0) 806 517 0300</a></div>
          <div><a href="tel:+2349049294332">+234(0) 904 929 4332</a></div>
        </div>
      </div>
    </div>
   
  </div>
</section>

<script>
  // Set the target date for the countdown
  const targetDate = new Date("2023-12-20T00:00:00").getTime();

  function updateCountdown() {
      const currentDate = new Date().getTime();
      const timeRemaining = targetDate - currentDate;

      if (timeRemaining <= 0) {
            document.getElementById("timing").innerHTML = "NOW LIVE";
          return;
      }

      const seconds = Math.floor((timeRemaining / 1000) % 60);
      const minutes = Math.floor((timeRemaining / 1000 / 60) % 60);
      const hours = Math.floor((timeRemaining / (1000 * 60 * 60)) % 24);
      const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
      const months = Math.floor(days / 30); // Assuming 30 days per month

      document.getElementById("countdown").innerHTML = `
      <div><h1>${months}</h1>Months</div>
      <div><h1>${days % 30}</h1>Days</div>
      <div><h1>${hours}</h1>Hours</div>
      <div><h1>${minutes}</h1>minutes</div>
      <div><h1>${seconds}</h1>Seconds</div>
      `;
  }

  // Update the countdown every second
  setInterval(updateCountdown, 1000);

  // Initial call to set the correct time
  updateCountdown();
</script>
<script>
  document.getElementById("navHome").classList.add("active")
</script>
{% endblock main %}
