{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block main %}
<header>
  <div>
    <div class="Header container">
      <div class="Header-Text">
        <div>
          <h3>R2R 2023</h3>
          <h1>RECONNECT TO REST</h1>
        </div>
        <div>
          <p>
            R2R is a non-denominational 3-day conference hosted annually by
            Again and Afresh Church, Makurdi. It is a time dedicated to the
            worship of Christ by faithfully teaching His doctrine and having
            fellowship with His Spirit.
          </p>
          <div class="registerbtn">
            <a class="btn" href="{% url 'register' %}">Register</a>
          </div>
        </div>
      </div>
      <div class="Header-Image">
        <img src="{% static 'img/12590623_86.png' %}"  alt="">
      </div>
    </div>
  </div>
</header>
<section class="d-md-flex container section1" style="margin: auto;padding: 2rem;">
    <div style="box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.075); border-radius: 15px;align-self: center;">
        <img src="{% static 'img/r2r 2.png' %}" style="width:100%;" alt="">
    </div>
    <div class="px-md-5" style="align-self: center; padding: 2rem 0 ;">
        <p>
            <h2 style="margin-bottom: 20px;"><span class="active" style="padding-bottom: 5px;font-weight: bold;">R2R</span> is a 3-Day Conference</h2>
            Saints from all walks of life come together at R2R for soul-nourishing sessions of worship, prayers, and fellowship fueled by sincere love. Opportunity will be given for you to ask and receive answers to questions on matters of doctrine. Ministers will also be present who will, with gladness, communicate God's counsel on issues peculiar to the needs of your soul.
        </p>
        <div>
            <a href="{% url 'register' %}" class="btn" style="background:goldenrod;color: white;">Register Now</a>
            <a href="#" class="btn">Locate Us</a>
        </div>
    </div>
</section>
<script>
document.getElementById("navHome").classList.add("active")
</script>
{% endblock main %}
