{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    .registerbtn{
        display: none;
    }
    main{
        display: block !important;
}
.old{
    padding: 0.5rem;
}
.old > iframe{
    margin: 5px;
}
</style>
<div class="container rounded-5">
    <div class="register" >
        <div class="d-flex" style="flex-wrap: wrap; background-color: rgba(0, 0, 0, 0.784);place-content: space-between;height:100%">
            <div class="text-center" style="align-self: center;flex:1; max-width: 500px;">
                <div class="form-header">
                    <div><img src="{% static 'img/r2r 2.png' %}" alt=""></div>
                    <p> Have your mind renewed and heart filled with the knowledge of the will of God, and find grace to obey.</p>
                </div>
            </div>
            <form method="post" id='myForm'>
                <iframe style="width: 100%;height: 100%;" src="https://www.youtube.com/embed/hxuxd8Lkeo4?si=pJSt_4spvFzKVWJy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </form>
        </div>
</div>

</div>
<div class="m-md-5 d-md-flex g-3 old">
    <iframe style="width: 100%;height: 300px;" src="https://www.youtube.com/embed/hxuxd8Lkeo4?si=pJSt_4spvFzKVWJy&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe style="width: 100%;height: 300px;" src="https://www.youtube.com/embed/WhwGb-x378s?si=gJk826fdreYf_j3G&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

    <script>
    function addClassesToFormFields() {
        var form = document.getElementById("myForm");
        var fields = document.querySelectorAll("input, select, textarea");  // Select all input, select, and textarea elements within the form

        for (var i = 0; i < fields.length; i++) {
            fields[i].classList.add("form-control");
            fields[i].classList.add("form-control-lg");
        }
    }
    addClassesToFormFields()
   
    document.getElementById("navRegister").classList.add("active")
</script>
{% endblock main %}