{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    .registerbtn{
        display: none;
    }
</style>
    <div class="container d-flex" style="flex-wrap: wrap;">
        <div class="text-center" style="align-self: center;flex:1">
            <div class="text-muted">
            <h2>R2R 2023</h2>
            <p> Reconnect to Rest</p>
            </div>
        </div>
        <form method="post" id='myForm'>
            <center><h3 class="text-center p-3">Register</h3></center>
            <hr>
            {% csrf_token %}
            <div class="field">
                {{form|crispy}}
            </div>
            <br>
            <div style="text-align: -webkit-center;">
                <input type="submit" value="Register" style="background-color: goldenrod;color: white;width: 300px;">
            </div>
        </form>
    </div>


    <script>
    function addClassesToFormFields() {
        var form = document.getElementById("myForm");
        var fields = form.querySelectorAll("input, select, textarea");  // Select all input, select, and textarea elements within the form

        for (var i = 0; i < fields.length; i++) {
            fields[i].classList.add("form-control");
            fields[i].classList.add("form-control-lg");
        }
    }
    addClassesToFormFields()

    
    document.getElementById("navRegister").classList.add("active")
</script>
{% endblock main %}