{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    .registerbtn{
        display: none;
    }
</style>
<div class="container rounded-5">
    <div class="register" >
        <div class="d-flex" style="flex-wrap: wrap; background-color: rgba(0, 0, 0, 0.784);place-content: space-between;height:100%">
            <div class="text-center" style="align-self: center;flex:1;">
                <div class="form-header">
                    <h2>R2R 2023</h2>
                    <p> Have your mind renewed and heart filled with the knowledge of the will of God, and find grace to obey.</p>
                </div>
            </div>
            <form method="post" id='myForm'>
                <center><h4 class="text-center p-3">Register</h2></center>
                <hr>
                {% csrf_token %}
                <div class="field" id="fieldContainer">
                  
                </div>
                <br>
                <div style="text-align: -webkit-center;">
                    <a id="nextButton" style="background-color: white;color: goldenrod;width: 300px;" class="btn"><i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </form>
        </div>
</div>
</div>


<div id="fieldsItem" style="visibility: hidden;display: none;">
    {{form|crispy}}
</div>
    <script>
    function addClassesToFormFields() {
        var form = document.getElementById("myForm");
        var fields = form.querySelectorAll("input, select, textarea");  // Select all input, select, and textarea elements within the form

        for (var i = 0; i < fields.length; i++) {
            fields[i].classList.add("form-control");
            fields[i].classList.add("form-control-lg");
        }
    }
    addClassesToFormFields()
    fields = document.querySelectorAll('#fieldsItem > div')
    const fieldContainer = document.getElementById("fieldContainer");
    const nextButton = document.getElementById("nextButton");
    let currentIndex = 0;
    
    function displayFields() {
        fieldContainer.innerHTML = "";
        for (let i = currentIndex; i < currentIndex + 4 && i < fields.length; i++) {
            const field = document.createElement("div");
            field.textContent = fields[i];
            fieldContainer.appendChild(fields[i]);
        }
    }
    function handleNextClick() {
        currentIndex += 4;
        if (currentIndex >= fields.length) {
            currentIndex = 0;
        }
        displayFields();
    }
    nextButton.addEventListener("click", handleNextClick);
    
    document.getElementById("navRegister").classList.add("active")
</script>
{% endblock main %}