{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    .registerbtn{
        display: none;
    }
    #div_id_Volunteer{
        display: flex;
        justify-content: center;
    }
    label{
        display: none;
    }
</style>
<div class="container rounded-5">
    <div class="register" >
        <div class="d-flex" style="flex-wrap: wrap; background-color: rgba(0, 0, 0, 0.784);place-content: space-between;height:100%">
            <div class="text-center" style="align-self: center;flex:1;">
                <div class="form-header">
                    <div><img src="{% static 'img/r2r 2.png' %}" alt=""></div>
                    <p> Have your mind renewed and heart filled with the knowledge of the will of God, and find grace to obey.</p>
                </div>
            </div>
            <form method="post" id='myForm'>
                <div style="height:100%;overflow-y: scroll;">
                <center><h4 class="text-center p-3">Do You Want to Volunteer</h2></center>
                <hr>
                <h5>DO YOU WANT TO VOUNTEER TO JOIN THE WORKFORCE FOR R2R2023?</h5>
                <p>For God is not unrighteous to forget your work and labour of love, which ye have shewed toward his name, in that ye have ministered to the saints, and do minister.</p>
                <p>~ Hebrews 6:10 KJV</p>
                {% csrf_token %}
                <div class="field" id="fieldContainer">
                     {{form|crispy}}
                </div>
                <br>
                <div style="text-align: -webkit-center;">
                    <button type="submit" id="nextButton" style="background-color: white;color: goldenrod;width: 300px;" class="btn">Submit
                    </button>
                </div>
                </div>
            </form>
        </div>
</div>
</div>


<div id="fieldsItem" style="visibility: hidden;display: none;">
</div>
    <script>
    function addClassesToFormFields() {
        var form = document.getElementById("myForm");
        var fields = form.querySelectorAll("input, select, textarea");  // Select all input, select, and textarea elements within the form

        for (var i = 0; i < fields.length; i++) {
            fields[i].classList.add("form-control");
            fields[i].classList.add("form-control-lg");
        }
    }
    addClassesToFormFields()
   
    document.getElementById("navRegister").classList.add("active")
</script>
{% endblock main %}