{% extends "base.html" %}
{% block main %}
<style>
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .emoji{
        font-size: 2rem;
    }
</style>
<div class="container" style="text-align: center;">
    <div class="emoji">😕</div>
    <br>
    <iframe src="https://giphy.com/embed/feO9ESQit0QM0" style="max-width: 200px; border-radius: 15px;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <h1>Oops! Page Not Found</h1>
    <p>We couldn't find the page you were looking for.</p>
    <a class="btn btn-primary text-white" href="/">Go back to Home</a>
</div>
{% endblock main %}