{% extends "base.html" %}
{% block main %}
<style>
    .coner {
        text-align: center;
        max-width: 600px;
    }
    
    coner .emoji {
        font-size: 8rem;
        margin-bottom: 20px;
    }
    
    coner h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    coner p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    
    coner .btn {
        font-size: 1.25rem;
        padding: 10px 20px;
    }
</style>
<center>
<div class="coner">
    <div class="emoji">😕</div>
    <h1>Oops! Something Went Wrong</h1>
    <p>Try reloading the page.</p>
    <a class="btn btn-primary" href="/">Go back to Home</a>
</div>
</center>
{% endblock main %}