.idCard {
    width: 100%;
    overflow-x: scroll;
}

.church {
    background-color: black;
    color: white;
    padding: 1rem;
}

table {
    width: max-content;
}

th {
    padding: 1rem 0.5rem;
}

td {
    padding: 0.5rem;
}
input{
    width: max-content !important;
}
.filter > div{
    flex-wrap: wrap;
    gap: 1rem;
}
.cardlist{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 1rem;
}
div.filter > div > div{
    margin-bottom: 0 !important;
}
@media print {
   
    .idCard {
    width: 100%;
    overflow-x: scroll;
    }
    nav{
        display: none;
    }

    .church {
        background-color: black;
        color: white;
        padding: 1rem;
    }

    table {
        width: max-content;
    }

    th {
        padding: 1rem 0.5rem;
    }

    td {
        padding: 0.5rem;
    }
    input{
        width: max-content !important;
    }
    .filter > div{
        flex-wrap: wrap;
        gap: 1rem;
    }
    div.filter > div > div{
        margin-bottom: 0 !important;
    }
}
.card .header h6{
    text-transform: uppercase;
    font-size: 12px !important;
}
.card div:first-child p{
    font-size: 10px;
}
.card div:first-child h6{
    width: fit-content;
    margin: auto;
    padding:0.5 1.5rem;
}




.o-pastor .card{
    background-color: #a0e8b9;
}
.o-pastor .card .header, .o-pastor h6{
    color: #000;
}
.o-pastor .card .box > h4 > div > div {
    background-color: #224e61;
}
.o-pastor h6.position, .o-pastor .card_id{
    background-color: #cbeaf0;
    color: #000;
}

.i-pastor .card{
    background-color: #cbeaf0 ;
}
.i-pastor .card .header, .i-pastor h6{
    color: #000;
}
.i-pastor .card .box > h4 > div > div >div{
    color: #fff;
}
.i-pastor .card .box > h4 > div > div {
    background-color: #224e61;
}
.i-pastor h6.position, .i-pastor .card_id{
    background-color: #a0e8b9;
    color: #000;
}

.worker .card{
    background-color: #224e61 ;
}
.worker .card .header{
    color: #fff;
}
.worker .card .box > h4 > div > div {
    background-color: #a0e8b9;
}
.worker h6.position, .worker .card_id{
    background-color: #a0e8b9a0;
    color: #000;
}

.participant .card{
    background-color: rgba(30, 30, 30, 1) ;
}
.participant .card .header{
    color: #fff ;
}
.participant .card .box > h4 > div > div {
    background-color: #224e61;
}
.participant h6.position, .participant .card_id{
    background-color: #cbeaf0;
    color: #000;
}


.volunteer .card{
    background-color: #224e61 ;
}
.volunteer .card .header{
    color: #fff ;
}
.volunteer .card .box > h4 > div > div {
    background-color: #cbeaf0;
    color:black !important;
}
.volunteer h6.position, .volunteer .card_id{
    background-color: #a0e8b9;
    color: #000;
}
.volunteer .card .box > h4 > div > div > div {
    color: #000;
}

h6.position{
    color: #000;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #cbeaf0;
}

.card{
    background-image: url(../img/cards/bg.png);
    background-size: cover;
    padding: 0.5rem;
    max-width: 270px;
    width: 100%;
    
}
.pastor .card{
    background-color:rgba(30, 30, 30, 1) ;
    background-size: cover;
    color: white !important;
}
.pastor .card > div{
    color: #fff;
    border: 1px white solid !important;
}

.cardlist{
    padding: 1rem;
}
 .cardlist > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px #000 solid;
    padding: 0.5rem;
    gap:1rem
}
.card > div > div {
    padding: 0.5rem;
}
.card > div{
    display: block;
    padding:1rem;
    border: 1px white solid !important;
    border-radius: 20px;
    color: white;
    align-items: center;
    text-align: center;
    height: 100%;
} 
.card > div > div:first-child > img {
    margin: auto;
    width: 40px;
    
}
.card >div > div:nth-child(2) {
    margin:1.5rem auto;
    min-width: 100%;
}

.card .box > h4 > div   {
    min-width:70%;
    min-height: 40%;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    display: flex;
}
.card .box > h4 > div > div  {
    width: 100%;
    min-height:80%;
    border-radius: 10px;
    background-color: #cbeaf0;
    margin: auto;
    padding: 15px;
    display: flex;
}
.card .qr > h4 > div > div{
    width: 150px;
    min-height:150px;
}
.card .qr > h4 > div{
    width: 170px;
    min-height:170px;
}
.card .box > h4 > div > div > div {
    width: 100%;
    min-height:80%;
    color: white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

form{
    max-width: 500px;
}
.overlap-group1{
    background: rgba(30, 30, 30, 1);
    background-image: url(../img/cards/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 5% 3%;
    width: 270px;
    height: 429.604px;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
.group-1.group{
    background-color: #a0e8b9;
    position: absolute;
    transform: rotate(331deg);
width: 270px;
padding: 1rem;
text-align: left;
    top: 50%;
    right: -13%;
    color: #000;
    font-weight: 900;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Poppins' !important;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.64px;
}
.autograghy{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.level-1-front .group-1.group{
    background: #D9D9D9;
}
.level-2-front .group-1.group{
    background: #8BC2DF;
}
.level-3-front .group-1.group{
    background: #a0e8b9;
}