input, select{
    min-width: 200px !important;
    height:40px
}
input[type=checkbox]{
    min-width: 50px !important; 
}
.field > div {
    align-self: end;
}
#div_id_Are_you_a_pastor label, #div_id_will_you_be_camping label{
    margin: 10px;
}
#myForm{
    background-color: rgba(218, 165, 32, 0.645);
    padding: 1rem;
    max-width: 500px;
    color:white;
    height:100%;
    width:100%;
}
.form-header{
    color:white;
    padding:1rem;
}
.form-header h2{
    color: goldenrod;
}
h4{
    font-weight: 900;
    font-family: "Sora";
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (min-width:960px) {
    main{
        display: flex;
        align-items: center;
    }
    #myForm{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .register{
        border-radius:20px;
        background: url(../img/bg/4.jpg);
    background-position: right;
    background-size: cover;
    height:70vh;
    justify-content: space-between;
    }
   
    .register > div{
        border-radius:20px;
    }
    form .field{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}