*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
a{
    text-decoration:none;
    color:inherit;
}
body{
    margin: 0 2rem;
    padding: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    min-width: 40%;
    align-items: center;
    justify-content: space-between;
}
#nav-item-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.nav-logo img{
    display:none;
}
.btn{
    padding: 5px;
    border: 1px solid goldenrod;
    color: goldenrod;
    border-radius: 10px;
}

@media screen and (max-width:960px) {
    body{
        margin: 0 1rem;
    }
    #nav-item-list{
    display: none;
    background: rgba(0, 0, 0, 0.95);
        color:white;
        height:100%;
        text-align:center;
        display:none;
        flex-direction: column;
        justify-content: center;
    }
    .nav-item{
        justify-content:right;
        align-items: center;
        flex-direction: column;
    }
    
    #nav-item-list li div i{
        padding-right: 5px;
    }
    #nav-item-list li{
        padding: 5px;
        border-bottom: 1px white solid;
        text-align: left;

    }

    .nav-logo img.phone{
        width:50px;
        display:block;

    }
}
@media screen and (min-width:960px) {
    .nav-icons{
        display: none;
    }
    #nav-item-list i{
        display: none;
    }
   .nav-item{
    min-width: 40%;
   }
   .nav-logo img.laptop{
    width:200px;
    display: block;

}
}
/* HEADER */
.Header-Text{
    margin-top: 2.5rem;
    max-width: 700px;

}
.Header-Text h1{
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}